<%# <p>Your seach for '<%= @query %>
<%# ' returned <%= pluralize(@products.size, 'result') %>
<%# .</p>  %>

<div>
  <%= @cat_name %>
  <%= render partial: 'product', collection: @results, locals: {item_is_link: true} %>
</div>